/* **************** */
/* REUSABLE CLASSES */
/* **************** */
.window-top-text {
  font-size: 1.7rem;
  color: #fff;
}

.window-top-btns {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.7rem;
}

.btn {
  border-radius: 4px;
  border: 1px solid #fff;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  user-select: none;
  margin-right: 0.2rem;
  font-size: 2.2rem;
}

.btn:last-child {
  margin-right: -0.2rem;
}

.close-btn {
  background: linear-gradient(#e6997f, #e13e12);
}

.close-btn:hover {
  background: linear-gradient(#d37c70, #dc482f);
}

.min-btn,
.max-btn {
  background: linear-gradient(#5986f5, #0c63f0);
}

.min-btn:hover,
.max-btn:hover {
  background: linear-gradient(#6a92f6, #2473f2);
}

/* ************* */
/* DESKTOP ICONS */
/* ************* */
.desktop-icons-container {
  position: absolute;
  align-items: flex-start;
  margin: 2rem 0 0 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.desktop-icon-img {
  height: 4.4rem;
  width: 4.4rem;
  margin-bottom: 1rem;
}

.icon-text {
  color: #e9eddf;
  user-select: none;
  font-size: 1.6rem;
  text-shadow: 1px 1px #333;
}

/* ******************** */
/*  RECYCLE BIN WINDOW  */
/* ******************** */
.recycling-window--hidden {
  display: none;
}

.recycling-window {
  background-color: #0355e7;
  border: 1px solid #003ea7;
  height: 29.7rem;
  width: 30rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.window-top {
  display: flex;
  justify-content: space-between;
}

.recycling-window-top--left {
  display: flex;
  align-items: center;
}

.recycling-bin-img-sm {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 1rem;
}

.window-main {
  height: 24.3rem;
  width: 29rem;
  background-color: #fff;
  margin: auto;
}

/* ******************** */
/*    LIMEWIRE WINDOW   */
/* ******************** */

.limewire-window--hidden {
  display: none;
}

.limewire-window {
  background-color: #0355e7;
  border: 1px solid #003ea7;
  height: 48.75rem;
  width: 56.87rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  position: absolute;
  left: 30%;
  top: 20%;
}

.limewire-window--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.limewire-window--top-text {
  color: #fff;
  font-size: 1.7rem;
  padding-left: 1rem;
  user-select: none;
}

.limewire-window--main {
  height: 42.25rem;
  width: 55.25rem;
  background-color: #fff;
  margin: auto;
  display: grid;
  grid-template-columns: 19.5rem 1fr;
  grid-template-rows: 35.75rem 1fr;
  z-index: 1;
}

.limewire-window--right h2 {
  margin-top: 1.2rem;
  margin-bottom: 5.6rem;
  font-size: 2.8rem;
}

.limewire-main--text {
  font-size: 1.6rem;
  width: 30rem;
}

.limewire-window--left {
  height: 100%;
  background: linear-gradient(#5cbe51, #bae3b7);
  display: flex;
  flex-direction: column;
}

.limewire-window--right {
  height: 100%;
  margin-left: 3.25rem;
}

.limewire-window--bottom {
  background-color: #ece9d8;
  height: 7.2rem;
  width: 100%;
  grid-column: span 2;
  border-top: 1px solid #dfd8d1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.next-btn,
.cancel-btn {
  height: 2.43rem;
  width: 8.125rem;
  margin-right: 1.625rem;
  font-size: 1.2rem;
}

.text-bigger {
  font-size: 1.2rem;
}

.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn:hover,
.cancel-btn:hover {
  border: 1px inset #678dab;
  border-radius: 3px;
  background-color: #d6d6ec;
}

.limewire-logo--main1 {
  height: 3.25rem;
  width: 3.25rem;
  margin-left: 4.875rem;
  filter: blur(1px);
}

.limewire-logo--main2 {
  height: 4.875rem;
  width: 4.875rem;
  margin-left: 2.84rem;
  filter: blur(1px);
}

.limewire-logo--main3 {
  height: 6.5rem;
  width: 6.5rem;
  margin-left: 1.625rem;
  filter: blur(1px);
}

.limewire-logo--main4 {
  height: 8.125rem;
  width: 8.125rem;
  margin-left: 1.625rem;
  filter: blur(1px);
}

.limewire-logo--main5 {
  height: 9.75rem;
  width: 9.75rem;
  margin-left: 3.25rem;
}

/* ******************** */
/*  MY COMPUTER WINDOW  */
/* ******************** */

.my-computer-window--hidden {
  display: none;
}

.my-computer-window {
  height: 80rem;
  width: 90rem;
  background-color: #0058ef;
  border: 1px solid #003ea7;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  position: absolute;
  top: 5%;
  left: 20%;
}

.my-computer-window--top {
  display: flex;
  justify-content: space-between;
}

.my-computer-window--top-left {
  display: flex;
  align-items: center;
}

.my-computer-icon--window {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.links-container {
  padding: 0.7rem 0rem 0.7rem 1rem;
  background-color: #f7f0ee;
  border-left: 3px solid #0058ef;

  border-bottom: 1px solid #888;
  width: 100%;
}

.my-computer-window--top-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-computer-top--link:link,
.my-computer-top--link:visited {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: default;
  user-select: none;
}

.my-computer-window--top-links--right {
  width: 5.2rem;
  height: 3.1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-right: 3px solid #0058ef;
  border-left: 1px solid #888;
}

.windows-logo-sm {
  width: 2.5rem;
  object-fit: contain;
}

.my-computer-window--top-nav {
  background-color: #f7f0ee;
  border-left: 3px solid #0058ef;
  border-right: 3px solid #0058ef;
  display: flex;
  padding: 1rem 0 1rem 0;
}

.nav-left--container {
  display: flex;
  padding-left: 1rem;
}

.arrow-circle-background {
  border-radius: 100%;
  background: linear-gradient(#d8d7d7, #bfbfc2, #b2b3b3, #9a9893);
}

.arrow-left,
.arrow-right {
  font-size: 2.4rem;
  color: #f7f0ee;
}
