/* ******************** */
/*    NOTEPAD WINDOW    */
/* ******************** */

.notepad-window {
  background-color: #0058ef;
  border: 1px solid #003ea7;
  height: 50.2rem;
  width: 40rem;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  top: 25%;
  position: absolute;
  left: 55%;
  user-select: none;
}

.notepad-window--top {
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
}

.notepad-window--top-left {
  display: flex;
  align-items: center;
}

.notepad-window--icon {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.notepad-window--main-top {
  display: flex;
  background-color: #ece9d8;
  font-size: 1.6rem;
  border-bottom: 1px solid #0058ef;
  border-right: 0.5rem solid #0058ef;
  border-left: 0.5rem solid #0058ef;
  padding-bottom: 0.5rem;
}

.notepad-top--links:link,
.notepad-top--links:visited {
  color: black;
  margin-left: 1rem;
  text-decoration: none;
  user-select: none;
  cursor: default;
}

.notepad-window--main textarea {
  resize: none;
  display: flex;
  margin: auto;
  margin-top: 0.3rem;
  width: 39rem;
  height: 42.3rem;
  font-size: 2rem;
  outline: none;
}

/* ******************** */
/* COMMAND PROMPT MODAL */
/* ******************** */

.cmd-window {
  width: 60rem;
  height: 35rem;
  border: 3px solid #d2d4cb;
  position: absolute;
  top: 35%;
  left: 35%;
}

.cmd-window--top {
  height: 4rem;
  width: 100%;
  background: linear-gradient(to right, #0055e0, #3a92ff);
  border-bottom: 2px solid #d2d4cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.cmd-content--wrapper {
  display: flex;
  align-items: center;
}

.cmd-window--logo {
  margin: 0 0.5rem 0 0.5rem;
}

.cmd-window--top-text {
  font-size: 2.2rem;
  color: #fff;
  font-family: Lucida Console;
}

.cmd-window--btn-container {
  margin-right: 0.3rem;
  display: flex;
  gap: 0;
}

.close-cmd-btn {
  margin-left: 0.2rem;
}

.cmd-control--btn {
  height: 2.8rem;
  width: 2.2rem;
  font-size: 1.6rem;
  border-radius: 0;
  border: 1px solid #aeb6b0;
  background-color: #ebe9d8;
}

.cmd-control--btn:hover {
  background: #bcbaad;
}

.cmd-window--main {
  background: #000;
  width: 100%;
  height: 88.5%;
  padding: 0.5rem;
}

.cmd-window--main-text,
.cmd-window--main-text--input {
  color: #c1c1c1;
  font-size: 1.2rem;
  font-family: Lucida Console;
}

.cmd-window--main-text--input {
  margin-top: 1rem;
}

.cmd-window--main-text--input::after {
  content: "_";
  margin-left: 0.1rem;
  background: #c1c1c1;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* ******************** */
/*   MESSENGER WINDOW   */
/* ******************** */

.messenger-window {
  background-color: #0058ef;
  border: 1px solid #003ea7;
  height: 60rem;
  width: 40rem;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  position: absolute;
  top: 20%;
  left: 40%;
  user-select: none;
}

.messenger-window--top {
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
}

.messenger-window--top-left {
  display: flex;
  align-items: center;
}

.messenger-window--icon {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.messenger-window--top-right {
  display: flex;
  margin: 0.7rem 0.7rem 0 0;
}

.messenger-window--main {
  background: linear-gradient(
    to bottom,
    #f5f8fd,
    #eaeef9,
    #e5ebf7,
    #d7dff2,
    #d1dcf0,
    #d0dcf2,
    #d9e2f3,
    #e8edf8,
    #f0f3fa,
    #f9fafe
  );
  height: 55rem;
  width: 39rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messenger-icon-main--top {
  margin: 2rem 0 1rem 0;
}

.messenger-sign-in {
  display: flex;
  flex-direction: column;
}

.messenger-sign-in label {
  font-size: 1.4rem;
  color: #04054b;
}

.messenger-email--input,
.messenger-password--input {
  width: 20rem;
  height: 3rem;
  outline: none;
  margin-bottom: 1rem;
}

.messenger-status-label {
  outline: none;
}

.messenger-sign-in--options {
  background: none;
  border: none;
  outline: none;
  margin-bottom: 1.7rem;
}

.messenger-sign-in-checkboxes {
  font-size: 1.4rem;
  color: #04054b;
  margin-bottom: 2rem;
}

.messenger-sign-in-checkboxes input {
  cursor: pointer;
}

.remember-me-option {
  margin-right: 2rem;
}

.forget-me-link:link,
.forget-me-link:visited {
  margin-left: 2rem;
  color: #1010a3;
}

.messenger-sign-in--btn {
  width: 9rem;
  height: 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #39486d;
  border: 2px solid #5e5b54;
  border-radius: 2px;
  background: linear-gradient(
    to bottom,
    #fffffe,
    #fffdff,
    #f3f6ff,
    #e3e6fe,
    #d9e2fe,
    #edba60
  );
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.messenger-sign-in--btn:hover {
  background: linear-gradient(
    to bottom,
    #d7dae2,
    #c4c8d3,
    #b0b6c5,
    #9ca4b6,
    #8891a7,
    #edba60
  );
}

.messenger-background {
  height: 15rem;
  user-select: none;
  margin-left: 24rem;
  filter: blur(4px);
  z-index: 0;
}

.messenger-window--bottom-links {
  display: flex;
  position: absolute;
  top: 90%;
  line-height: 2.2rem;
}

.messenger-window--bottom-links-left {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.messenger-link:link,
.messenger-link:visited {
  color: #1010a3;
  font-size: 1.4rem;
}

/* ******************** */
/*       RUN WINDOW     */
/* ******************** */

.run-window {
  position: absolute;
  background-color: #0058ef;
  border: 1px solid #003ea7;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  user-select: none;
  width: 35rem;
  height: 22rem;
  top: 70%;
  right: 64%;
}

.run-window--top {
  display: flex;
  justify-content: space-between;
}

.run-window--top-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.run-window--main {
  background-color: #eceadd;
  width: 34.3rem;
  height: 16.7rem;
  margin: auto;
}

.run-window--main-content-wrapper {
  display: flex;
  padding-top: 2rem;
}

.run-icon--img {
  height: default;
  width: default;
  margin-right: 1rem;
}

.run-main--text {
  font-size: 1.3rem;
}

.run-window--input-wrapper {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.run-window--input-wrapper label {
  margin-right: 2rem;
}

.run-window--input-wrapper input {
  width: 25rem;
  outline: none;
}

.run-window--controls {
  display: flex;
  margin-top: 3.7rem;
  justify-content: flex-end;
}

/* ******************** */
/*   SHUT DOWN MODAL    */
/* ******************** */
.shut-down--modal {
  border: 1px solid #000829;
  width: 30rem;
  height: 21/5rem;
  position: absolute;
  top: 30%;
  left: 42%;
}

.shut-down--modal--top {
  background: #003399;
  border-bottom: 1px solid #c2e3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.shut-down--modal--top-text {
  color: #eceadd;
  font-size: 1.8rem;
  margin-left: 1rem;
  user-select: none;
}

.shut-down--modal-logo {
  height: 3.8rem;
  width: 3.8rem;
  margin-right: 1rem;
  user-select: none;
}

.shut-down--modal--main {
  background: #84a4ef;
  display: flex;
  justify-content: center;
}

.shut-down--controls-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.shut-down--icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 0.7rem;
}

.shut-down--icon-container:hover {
  border-radius: 9px;
  background: #6a83bf;
}

.shut-down--icon-text {
  color: #eceadd;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  user-select: none;
}

.shut-down--modal--bottom {
  background: #00329b;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shut-down--cancel-btn {
  width: 8rem;
  border-radius: 3px;
  border: 1px solid #000;
  margin-right: 1rem;
  padding: 0.3rem;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.shut-down--cancel-btn:hover {
  background-color: #a5a49b;
}
