/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing


--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:

- Greys


--- 05 SHADOWS



--- 06 BORDER-RADIUS

Default: 4px
Medium: 11px
High: 15px (start button)

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: url(/images/background.jpg);
  background-size: cover;
}

/* ****************** */
/* MAIN PAGE ELEMENTS */
/* ****************** */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.background {
  /*   width: 100%;
  height: 100vh;
  object-fit: cover; */
  z-index: 0;
  overflow: hidden;
}

/* ************* */
/* DESKTOP ICONS */
/* ************* */
.icons {
  z-index: 2;
  position: absolute;
  align-items: flex-start;
  margin-left: 2rem;
  margin-top: 2rem;
  display: grid;
}

.icon-text {
  color: #e9eddf;
  user-select: none;
  font-size: 1.6rem;
}

.recycling-bin-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.recycling-bin-img {
  height: 4.4rem;
  width: 4.4rem;
  margin-bottom: 1rem;
}

/* ************* */
/*     TASKBAR   */
/* ************* */

.taskbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.2rem;
  background: linear-gradient(
    #3770af 0 1%,
    #3c83e7 1% 3%,
    #4b94f3 3% 5%,
    #4b94f5 5% 7%,
    #215ed5 7% 95%,
    #1d50c2 95% 97%,
    #1144b1 97% 100%
  );
  z-index: 1;
  position: fixed;
  bottom: 0;
}

.start {
  /* background: linear-gradient(180deg, #2c6830, #1c911c); */
  background: linear-gradient(180deg, #258522, #197f1c, #158b14, #2c8431);
  backdrop-filter: blur(10px);
  width: 13.8rem;
  height: 100%;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  font-size: 2.8rem;
  text-shadow: 1px 1px #000;
  color: #e9eddf;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}

.start:hover {
  background: linear-gradient(#206121, #18851d);
}

.win-logo {
  height: 2.4rem;
  width: 2.4rem;
  background-color: none;
  position: absolute;
  left: 1rem;
  margin-top: 0.4rem;
}

.time {
  color: #e9eddf;
  margin-right: 1rem;
  user-select: none;
  font-size: 1.6rem;
}

.taskbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #0c9dee; */
  background: linear-gradient(
    #28b3ff 0% 5%,
    #15a1f2 5% 7%,
    #0c97eb 7% 10%,
    #0c9dee 10% 12%,
    #1690eb 12% 95%,
    #1690eb 95% 100%
  );
  width: 10rem;
  text-shadow: 1px 1px #333;
}

/* ******************** */
/*  RECYCLE BIN WINDOW  */
/* ******************** */
.recycling-window--hidden {
  display: none;
}

.recycling-window {
  background-color: #0355e7;
  height: 30rem;
  width: 30rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.window-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.recycling-bin-img-sm {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.window-top-text {
  color: #fff;
  margin-left: -5.4rem;
  margin-top: 1rem;
  align-self: center;
  font-size: 1.8rem;
  font-weight: 400;
  user-select: none;
}

.window-top-btns {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
}

.btn {
  border-radius: 4px;
  border: 1px solid #fff;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  user-select: none;
  margin-right: 0.2rem;
}

.btn:last-child {
  margin-right: -0.2rem;
}

.close-btn {
  background: linear-gradient(#e6997f, #e13e12);
}

.close-btn:hover {
  background: linear-gradient(#d37c70, #dc482f);
}

.min-btn,
.max-btn {
  background: linear-gradient(#5986f5, #0c63f0);
}

.min-btn:hover,
.max-btn:hover {
  background: linear-gradient(#6a92f6, #2473f2);
}

.window-main {
  height: 24.3rem;
  width: 29rem;
  background-color: #fff;
  margin: auto;
}
