* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ****************** */
/* MAIN PAGE ELEMENTS */
/* ****************** */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.background {
  /*   width: 100%;
  height: 100vh;
  object-fit: cover; */
  z-index: 0;
  overflow: hidden;
}

/* ************* */
/* DESKTOP ICONS */
/* ************* */
.icons {
  z-index: 2;
  position: absolute;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: 1rem;
  display: grid;
}

.icon-text {
  color: #e9eddf;
  user-select: none;
}

.recycling-bin-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recycling-bin-img {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
}

/* ************* */
/*     TASKBAR   */
/* ************* */

.taskbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: #245edc;
  z-index: 1;
}

/* doesn't work VV -- keeping this code here because I like the linear gradient and will use it later somehow */
/* .taskbar::before {
    width: 100%;
    height: 5rem;
    content: "";
    background: linear-gradient(#3d77d1, #4494e9, #3d77d1);
    z-index: 2;
  } */

.start {
  background: linear-gradient(180deg, #2c6830, #1c911c);
  width: 8rem;
  height: 100%;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  font-size: 1.6rem;
  color: #e9eddf;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}

.start:hover {
  background: linear-gradient(#206121, #18851d);
}

.win-logo {
  height: 2rem;
  width: 2rem;
  background-color: none;
  position: absolute;
  left: 0.5rem;
}

.time {
  color: #e9eddf;
  margin-right: 1rem;
  user-select: none;
}

.taskbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #0c9dee;
  width: 10rem;
}

/* ******************** */
/*  RECYCLE BIN WINDOW  */
/* ******************** */
.recycling-window--hidden {
  display: none;
}

.recycling-window {
  background-color: #0355e7;
  height: 25rem;
  width: 20rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.window-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.recycling-bin-img-sm {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}

.window-top-text {
  color: #fff;
  margin-left: -2.7rem;
  margin-top: 0.5rem;
  align-self: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.window-top-btns {
  display: flex;
  margin-top: 0.5rem;
}

.btn {
  border-radius: 9px;
  border: 1px solid #fff;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.close-btn {
  background: linear-gradient(#e6997f, #e13e12);
}

.min-btn,
.max-btn {
  background: linear-gradient(#5986f5, #0c63f0);
}

.window-main {
  height: 21.5rem;
  width: 19rem;
  background-color: #fff;
  margin: auto;
}
